@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/utilities";

$utilities: map-merge(
        $utilities, (
        'min-width': (
            property: 'min-width',
            class: 'min-w',
            values: (
                '25':25%,
                '50':50%
            )
        ),
        'place-items': (
            property: 'place-items',
            class: 'place-items',
            values: (
                'center':center,
                'start':start,
                'end':end,
                'stretch':stretch
            )
        )
    )
);
