// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Palette
$primary: #002858;
$secondary: #f25b13;

// Settings
$enable-cssgrid: true;
